{% extends "layout.html" %}
{% block content %}

    <!--Top header-->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">FMEA editor</a>
    </nav>

    <div class="row">

    <div class="sidebar col-md-3 col-3">

        <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">View FMEA</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Help</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        </div>

    </div>

    <div class="col-md-9">

    <div class="card container">
        <div class="card-body">

            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Component</th>
                  <th scope="col">Failure Mode Observation</th>
                  <th scope="col">Failure Effect</th>
                </tr>
              </thead>
              <tbody>
                  {% for r in records %}
                      <tr>
                      <th scope="row">{{ r.component }}</th>
                      <td>{{ r.failure_mode_observation }}</td>
                      <td>{{ r.local_failure_effect }}</td>
                    </tr>
                 {% endfor %}
              </tbody>
            </table>
        </div>
    </div>


    <div class="card container">
        <div class="card-content">
            <h3>Final Failure Effect</h3>
            <ul id="final-failure-effects">
              <li><span class="caret">Enclosure heating, ventilation and cooling system</span>
                <ul class="nested">
                  <li><span class="caret">Heater system</span>
                    <ul class="nested">
                      <li>Heaters</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
        </div>
    </div>


        <div class="card container">
        <div class="card-content">
            <h3>Asset Hierarchy</h3>
            <ul id="final-failure-effects">
              <li><span class="caret">Enclosure heating, ventilation and cooling system</span>
                <ul class="nested">
                    <li><span class="caret">Heater system</span>
                    <ul class="nested">
                      <li>Heaters</li>
                    </ul>
                    </li>
                    <li><span class="caret">Condensate / cooling-water drain system</span>
                        <ul class="nested">
                          <li>Leak detection chamber</li>
                            <li>Condensate drain pipes (small bore)</li>
                            <li>Leakage collection area</li>
                            <li>Leakage drain pipe from leak detect chamber</li>
                            <li>Sump</li>
                            <li>Condensate / leakage drain pipes</li>
                        </ul>
                    </li>
                    <li>Ventilation and cooling system</li>
                    <li>Emergency cooling (inlet/outlet) doors</li>
                  </li>
                </ul>
              </li>
            </ul>
        </div>
    </div>




    </div>
    </div>

{% endblock %}


